name: Build and Deploy

on:
  push:	
    branches:	
      - master
jobs:
    name: build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Deploy on oshukai-paris.github.io
      uses: maxheld83/ghpages@v0.2.1
